version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: wikismart_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    networks:
      - app-network
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  fastapi:
    build: 
      context: ./backend
      dockerfile: ./Dockerfile
    container_name: wikismart_fastapi
    depends_on:
      - postgres
    env_file:
      - .env
    networks:
      - app-network
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app

  test:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    container_name: wikismart_tests
    depends_on:
      - postgres
    env_file:
      - .env
    networks:
      - app-network
    volumes:
      - ./Backend:/app
    command: pytest --color=yes

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules        # ANONYMOUS VOLUME: This protects the container's node_modules
    networks:
      - app-network
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
      - REACT_APP_API_URL=http://fastapi:8000
    command: npm run dev

volumes:
  pgdata:

networks:
  app-network:
    driver: bridge