version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: wikismart_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  fastapi:
    build: 
      context: ./backend
      dockerfile: ./Dockerfile
    container_name: wikismart_fastapi
    depends_on:
      - postgres
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app

  test:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    container_name: wikismart_tests
    depends_on:
      - postgres
    env_file:
      - .env
    volumes:
      - ./Backend:/app
    command: pytest --color=yes

volumes:
  pgdata: