fastapi
uvicorn[standard]
pydantic[email]
pydantic-settings
python-dotenv
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
wikipedia
pytest
pytest-mock
requests-mock
httpx
python-multipart
langchain_community
langchain
pypdf
groq
google-genai